{% extends 'base.html.twig' %}

{% block body %}
    <div class="container swup">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-8">

                <div class="row g-5 justify-content-center mb-5">
                    <div class="col-12">
                        <div class="card rounded-0">
                            <div class="row align-items-center g-0">
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{{ asset('images/arran-three.jpg') }}"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="fs-5 mb-3 fw-bold">{{ 'private-chef-at-home-service'|trans|title }}</div>
                                        <div>{{ 'private-chef-at-home-service-explainer'|trans }}</div>
                                        <div class="text-center text-muted mt-5">
                                           <div>{{ 'call-to-arrange'|trans }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card rounded-0">
                            <div class="row align-items-center g-0">
                                <div class="col-md-4">
                                    <img class="img-fluid"
                                         src="{{ asset('images/8D312B9E-62F8-41E5-90C2-D607C84D0216.JPG') }}"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="fs-5 mb-3 fw-bold">{{ 'tailor-made-service'|trans|title }}</div>
                                        <div>{{ 'tailor-made-service-explainer'|trans }}</div>
                                        <div class="text-center text-muted mt-5">
                                            <div>{{ 'call-to-arrange'|trans }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card rounded-0">
                            <div class="row align-items-center g-0">
                                <div class="col-md-4">
                                    <img class="img-fluid"
                                         src="{{ asset('images/cake.jpg') }}"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="fs-5 mb-3 fw-bold">{{ 'bespoke-cakes'|trans|title }}</div>
                                        <div>{{ 'bespoke-cakes-explainer'|trans }}</div>
                                        <div class="text-center text-muted mt-5">
                                            <div>{{ 'call-to-arrange'|trans }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card rounded-0">
                            <div class="row align-items-center g-0">
                                <div class="col-md-4">
                                    <img class="img-fluid"
                                         src="{{ asset('images/classes.jpg') }}"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="fs-5 mb-3 fw-bold">{{ 'personalised-cooking-classes'|trans|title }}</div>
                                        <div>{{ 'personalised-cooking-classes-explainer'|trans }}</div>
                                        <div class="text-center text-muted mt-5">
                                            <div>{{ 'call-to-arrange'|trans }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

