<!DOCTYPE html>
<html lang="{{ app.locale }}" {{ stimulus_controller('color-theme') }} data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Forghams Cuisine{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body {{ stimulus_controller('symfony/ux-swup/swup', {
    containers: ['#main'],
    animateHistoryBrowsing: true,
}) }}>
<div id="main">
    {{ include('partial/_navbar.html.twig') }}
    {% block body %}{% endblock %}
</div>
</body>
</html>
